@use '@angular/material' as mat;
@use "../app_theme" as theme;

@include theme.declare-theme("dark",
    $primary: mat.define-palette(mat.$green-palette),
    $accent: mat.define-palette(mat.$blue-palette),
    $warn: mat.define-palette(mat.$red-palette),
    $is-dark: true
);
