@use '@angular/material' as mat;
@use "../app_theme" as theme;

@include theme.declare-theme("dark",
    $primary: mat.m2-define-palette(mat.$m2-green-palette),
    $accent: mat.m2-define-palette(mat.$m2-blue-palette),
    $warn: mat.m2-define-palette(mat.$m2-red-palette),
    $is-dark: true
);
