@use '@angular/material' as mat;
@use "../app_theme" as theme;

@include theme.declare-theme("default",
    $primary: mat.m2-define-palette(mat.$m2-blue-palette),
    $accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400),
    $warn: mat.m2-define-palette(mat.$m2-red-palette)
);
