@use '@angular/material' as mat;

@mixin declare(
    $primary,
    $accent,
    $warn,
) {
    button.toggle-menu-button {

        &.mat-button-toggle-checked {
            $bg-color: mat.m2-get-color-from-palette($primary, 800);

            color: mat.m2-get-contrast-color-from-palette($primary, 800);
            background: $bg-color;
        }
    }

    #github-link {
        color: mat.m2-get-color-from-palette($accent, 500);
    }
}
