<form>
    <div>
        <span>
            <mat-checkbox></mat-checkbox>
            <mat-label>Checkbox</mat-label>
        </span>

        <span>
            <mat-radio-button color="primary" [checked]="true"></mat-radio-button>
            <mat-label>Radio 1</mat-label>
        </span>

        <span>
            <mat-radio-button color="accent"></mat-radio-button>
            <mat-label>Radio 2</mat-label>
        </span>

        <span>
            <mat-radio-button color="warn"></mat-radio-button>
            <mat-label>Radio 3</mat-label>
        </span>
    </div>

    <h3>Basic Buttons</h3>
    <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button routerLink=".">Link</a>
    </div>

    <h3>Raised Buttons</h3>
    <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
    </div>

    <h3>Stroked Buttons</h3>
    <div class="example-button-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button routerLink=".">Link</a>
    </div>

    <h3>Flat Buttons</h3>
    <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button routerLink=".">Link</a>
    </div>

    <h3>Icon Buttons</h3>
    <div class="example-button-row">
        <button mat-icon-button>
            <mat-icon matBadge="5" matBadgePosition="above after">favorite</mat-icon>
        </button>
        <button mat-icon-button color="primary">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="accent">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="warn">
            <mat-icon matBadge="2" matBadgePosition="above after" matBadgeColor="accent">favorite</mat-icon>
        </button>
        <button mat-icon-button disabled>
            <mat-icon>favorite</mat-icon>
        </button>
    </div>

    <h3>Fab Buttons</h3>
    <div class="example-button-row">
        <button mat-fab>Basic</button>
        <button mat-fab color="primary">Primary</button>
        <button mat-fab color="accent">Accent</button>
        <button mat-fab color="warn">Warn</button>
        <button mat-fab disabled>Disabled</button>
        <button mat-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
        <a mat-fab routerLink=".">Link</a>
    </div>

    <h3>Inputs</h3>
    <div>
        <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput autocomplete="off" placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Outlined</mat-label>
            <input matInput autocomplete="off" placeholder="Placeholder">
        </mat-form-field>
    </div>

    <h3>Chips</h3>
    <div>
        <mat-chip-listbox>
            <mat-chip-option color="primary" selected>Normal</mat-chip-option>
            <mat-chip-option color="accent" selected>Easy</mat-chip-option>
            <mat-chip-option color="warn" selected>Hard</mat-chip-option>
        </mat-chip-listbox>
    </div>

    <div>
        <mat-form-field (click)="myDatepicker.open()">
            <input matInput placeholder="Date" [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select">
                @for (food of ['Apple', 'Banana', 'Strawberry']; track food) {
                    <mat-option [value]="food">{{ food }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-slider [color]="sliderValue > 33 ? sliderValue > 66 ? 'warn' : 'accent' : 'primary'">
            <input matSliderThumb name="sliderValue" [(ngModel)]="sliderValue" />
        </mat-slider>
    </div>

    <h3>Layout</h3>
    <div>
        <mat-toolbar>List</mat-toolbar>
        <mat-action-list class="mat-app-background">
            <button mat-list-item>
                <mat-icon matListItemIcon color="primary">favorite</mat-icon>
                Item 1
            </button>
            <button mat-list-item>
                <mat-icon matListItemIcon color="accent">stars</mat-icon>
                Item 2
            </button>
            <button mat-list-item>
                <mat-icon matListItemIcon color="warn">cancel</mat-icon>
                Item 3
            </button>
        </mat-action-list>
    </div>

    <div>
        <mat-toolbar>Tabs</mat-toolbar>
        <mat-tab-group class="mat-app-background">
            <mat-tab label="Tab 1">
                <mat-spinner color="primary"></mat-spinner>
            </mat-tab>
            <mat-tab label="Tab 2">
                <mat-spinner color="accent"></mat-spinner>
            </mat-tab>
            <mat-tab label="Tab 3">
                <mat-spinner color="warn"></mat-spinner>
            </mat-tab>
        </mat-tab-group>
    </div>
</form>