@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@import "~@lithiumjs/ngx-material-theming/styles/theme";

@mixin li-ex-theme(
    $theme-name,
    $theme-primary,
    $theme-accent,
    $theme-warn,
    $isDark
) {
    @include app-theme(
        $theme-name,
        $theme-primary,
        $theme-accent,
        $theme-warn,
        $isDark
    ) {
        // We can define custom theme styles here using all of our palette colors:

        button.toggle-menu-button {

            &.mat-button-toggle-checked {
                $bg-color: mat.get-color-from-palette($theme-primary, 800);

                color: mat.get-contrast-color-from-palette($theme-primary, 800);
                background: $bg-color;
            }
        }

        #github-link {
            color: mat.get-color-from-palette($theme-accent, 500);
        }
    }
}
