<li-theme-container [manageOverlay]="false">
    <mat-card appearance="outlined" class="overlay-card mat-app-background">
        <mat-toolbar color="primary">
            <span>New Theme (Advanced)</span>
        </mat-toolbar>

        <mat-card-content>
            <form>
                <mat-checkbox color="primary"
                              name="darkTheme"
                              [(ngModel)]="darkTheme" />
                <mat-label class="dark-theme-label">Dark Theme</mat-label>

                <div class="accordion-container">
                    <mat-accordion>
                        <mat-expansion-panel class="color-panel" id="primary-panel">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="theme-color-display"
                                          [ngStyle]="{ 'background-color': primaryColor }">
                                    </span>
                                    <h3>Primary Palette</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container *ngTemplateOutlet="paletteInputTemplate; context: { $implicit: 'primaryPalette' }" />
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion>
                        <mat-expansion-panel class="color-panel" id="accent-panel">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="theme-color-display"
                                          [ngStyle]="{ 'background-color': accentColor }">
                                    </span>
                                    <h3>Accent Palette</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container *ngTemplateOutlet="paletteInputTemplate; context: { $implicit: 'accentPalette' }" />
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion>
                        <mat-expansion-panel class="color-panel" id="warn-panel">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="theme-color-display"
                                          [ngStyle]="{ 'background-color': warnColor }">
                                    </span>
                                    <h3>Warn Palette</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container *ngTemplateOutlet="paletteInputTemplate; context: { $implicit: 'warnPalette' }" />
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <mat-form-field class="name-field">
                    <mat-label>Theme Name</mat-label>
                    <input matInput
                           #themeNameInput="matInput"
                           type="text"
                           autocomplete="off"
                           required
                           pattern="-?[a-zA-Z_]+[a-zA-Z0-9\-_]*"
                           placeholder="my-new-theme"
                           name="themeName"
                           [(ngModel)]="themeName">
                </mat-form-field>

                <mat-grid-list [cols]="2" gutterSize="0.5rem" rowHeight="38px">
                    <mat-grid-tile>
                        <button mat-stroked-button color="primary" (click)="cancel$.emit()">Cancel</button>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <button mat-raised-button
                                color="primary"
                                [disabled]="!themeName || themeNameInput.errorState"
                                (click)="submit$.emit()">
                            Create
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>

                <!-- Templates -->
                <ng-template #paletteInputTemplate let-palette>
                    <div class="palette-actions">
                        <button mat-raised-button (click)="input.focus()">
                            <mat-icon [style.color]="$any(this)[palette][500]">format_color_fill</mat-icon>
                            Basic
                        </button>
                        <input class="basic-color-picker-input"
                               #input
                               [colorPicker]="$any(this)[palette][500]"
                               (colorPickerSelect)="createBasicPalette(palette, $event)"
                               [cpCancelButton]="true"
                               cpCancelButtonClass="mat-primary mat-button mat-stroked-button picker-button"
                               [cpOKButton]="true"
                               cpOKButtonClass="mat-primary mat-button mat-raised-button picker-button">

                        <button mat-raised-button>
                            <mat-icon [style.color]="$any(this)[palette][500]">code</mat-icon>
                        </button>
                    </div>

                    <ng-container *ngTemplateOutlet="colorListTemplate; context: { $implicit: $any(this)[palette] }" />

                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Contrast Colors</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container *ngTemplateOutlet="colorListTemplate; context: { $implicit: $any(this)[palette].contrast }" />
                        </mat-expansion-panel>
                    </mat-accordion>

                    <!-- Templates -->
                    <ng-template #colorListTemplate let-colorSrc>
                        @for (color of paletteColors; track color) {
                            <mat-grid-list [cols]="5" gutterSize="0.5rem" rowHeight="30px" (click)="input.focus()">
                                <mat-grid-tile class="input-tile">
                                    <input class="color-picker-input"
                                           #input
                                           [(colorPicker)]="colorSrc[color]"
                                           (colorPickerChange)="changePalette(palette)"
                                           [cpCancelButton]="true"
                                           cpCancelButtonClass="mat-primary mat-button mat-stroked-button picker-button"
                                           [cpOKButton]="true"
                                           cpOKButtonClass="mat-primary mat-button mat-raised-button picker-button"
                                           [style.background]="colorSrc[color]">
                                </mat-grid-tile>
                                <mat-grid-tile class="label-tile" [colspan]="4">
                                    <mat-label>{{ color }}</mat-label>
                                </mat-grid-tile>
                            </mat-grid-list>
                        }
                    </ng-template>
                </ng-template>
            </form>
        </mat-card-content>
    </mat-card>
</li-theme-container>