@use '@angular/material' as mat;

mat-card.overlay-card {
    padding: 0;
    max-width: 100vw;

    & mat-card-content {
        padding: 1rem;
    }
}

.accordion-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > :not(:last-child) {
        margin-right: 0.7em;
    }
}

mat-expansion-panel.color-panel {

    mat-expansion-panel-header {
        padding: 0 16px;
    }

    mat-panel-title {
        display: flex;
        align-items: center;

        > .theme-color-display {
            margin-right: 16px;
        }
    }

    &#primary-panel, &#accent-panel, &#warn-panel {
        margin-top: 1rem;

        &:not(:hover) {
            @include mat.elevation(3);
        }

        &:hover, &.mat-expanded {
            @include mat.elevation(8);
        }
    }

    .input-tile {
        min-width: 30px;
    }

    .label-tile:hover {
        cursor: pointer;
    }

    .color-picker-input {
        width: 24px;
        height: 24px;
        border: 1px solid black;
        caret-color: transparent;
        z-index: 999;
    
        &:hover {
            cursor: pointer;
        }
    }
}

mat-grid-tile {
    &::ng-deep .mat-figure {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    button {
        width: 100%;
    }
}

mat-form-field {
    width: 100%;
}

.name-field {
    margin-top: 0.5rem;
}

.dark-theme-label {
    margin-left: 0.5rem;
}

::ng-deep button.picker-button {
    margin-left: 0.5rem;
}

.palette-actions {
    margin-left: -8px;
    margin-right: 8px;
    margin-bottom: 1rem;

    .basic-color-picker-input {
        width: 1px;
        height: 1px;
        border: none;
        background: none;
        caret-color: transparent;
    }
}