@use '@angular/material' as mat;

:host::ng-deep, mat-sidenav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

mat-toolbar {
    padding: 0 8px;

    .toggle-menu-button {
        margin-right: 8px;
    }

    .title, .project-ref {
        max-width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .project-ref {
        font-size: 1.1rem;
        font-weight: inherit;
    }

    .spacer {
        flex-grow: 2;
    }
}

#sidenav {
    width: 18%;
    min-width: 150px;
    max-width: 290px;
    overflow-x: hidden;

    mat-list {
        padding-top: 0;

        mat-list-item {
            height: auto;
        }
    }

    h1.mat-mdc-subheader {
        font-weight: 800;
    }

    h3.mat-mdc-subheader {
        font-weight: 700;
    }


    #lists-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.25rem;
        font-size: 1.2em;

        > mat-icon {
            margin-right: 0.25rem;
            font-size: 22px;
            width: 22px;
            height: 22px;
        }
    }

    #add-theme-field {
        width: 100%;
        padding-top: 0.4rem;

        &.mat-focused #add-theme-label-icon {
            display: none;
        }

        &:not(.mat-focused) {

            #add-theme-label-text {
                display: none;
            }

            ::ng-deep .mdc-notched-outline {
                border-color: none !important;
            }
        }

        #add-theme-select {
            ::ng-deep .mat-mdc-select-arrow {
                display: none;
            }
        }

        ::ng-deep label {
            width: 100%;
        }

        ::ng-deep .mdc-notched-outline {
            @include mat.elevation(2);
        }

        #add-theme-label {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #add-theme-label-icon {
            width: 128px;
            height: 24px;
            margin-left: 24px;
            font-size: 24px;
            line-height: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

#sidenav-radio-group mat-radio-button {
    display: block;
    width: 100%;
    padding: 0;

    &::ng-deep .mdc-form-field {
        display: block;
        width: 100%;
        min-height: 3rem;
    }

    &::ng-deep .mdc-radio {
        position: absolute;
        display: none;
    }

    &::ng-deep label {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3rem;
        cursor: pointer;

        .theme-label-data {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > * {
                margin-right: 0.4rem;
            }
        }
    }

    &.selected {
        font-weight: bold;
    }
}

mat-list-item[hidden] {
    display: none !important;
}

mat-sidenav-content {
    padding: 0.5rem;

    mat-card.theme-color-card {
        margin: 0.25rem 0;
        padding: 16px;

        .theme-color-hex {
            font-size: 0.9rem;
            opacity: 0.5;
            font-weight: 700;
        }
    }
}