@import "~normalize.css/normalize";
@import "~@angular/material/theming";

@include mat-core();

@import "styles/themes/default";
@import "styles/themes/dark";

// @angular/material style overrides

mat-form-field.mat-inline-label {

    &.mat-focused label.mat-form-field-label {
        visibility: hidden;
    }
}


// Custom styles

html, body {
    height: 100vh;
    overflow-y: hidden;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}