@import "~normalize.css/normalize";
@import "~@angular/material/theming";

@include mat-core();

@import "styles/themes/default";
@import "styles/themes/dark";

// @angular/material style overrides

mat-toolbar {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    > * {
        text-overflow: inherit;
        overflow: inherit;
        white-space: inherit;
    }
}

mat-form-field.mat-inline-label {

    &.mat-focused label.mat-form-field-label {
        visibility: hidden;
    }
}


// Custom styles

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100vh;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.theme-color-display {
    display: inline-block;
    border: 1px solid rgba(white, 0.3);
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}  