@use '@angular/material' as mat;
@use '@lithiumjs/ngx-material-theming' as mat-theming;

// Normalize CSS styles accross browsers
@import "normalize.css/normalize";

// Only include these once:
@include mat-theming.m2-all-static-component-dimensions();
@include mat.core();

// We'll bundle the default and dark themes with the app itself
@import "styles/themes/definitions/default";
@import "styles/themes/definitions/dark";

// @angular/material style overrides:

mat-toolbar {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    > * {
        text-overflow: inherit;
        overflow: inherit;
        white-space: inherit;
    }
}

// Custom styles:

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100vh;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.theme-color-display {
    display: inline-block;
    border: 1px solid rgba(white, 0.3);
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.theme-select-panel {
    margin-top: -48px !important;
}